<h1>Добавление новой больницы</h1>
<div class="container">

<%=form_for @hospital do |f| %>

  <div class="form-group">
    <%= f.label :text ,"Номер Больнинцы" %>
    <%= f.number_field :num, class: 'form-control' %>
  </div>
  <br />
  <div class="form-group">
    <h3>Отметьте персонал больницы</h3>
    <% @staffs.each_slice(5) do |staff| %>
      <div class="row">
        <% staff.each do |staff| %>
          <div class="col-md-2 col-sm-3" >
            <div class="card">
              <h4><%= staff.position %></h4>
              <h1><%= staff.sname %></h1>
              <h5>Дата рождения: <%= staff.bday %></h5>
              <%= check_box_tag "hospitals_staffs[staff_ids][]", staff.id %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= f.submit "Сохранить", class:'btn btn-primary' %>
  <%= link_to 'Закрыть', root_path, class:'btn btn-danger' %>

<% end %>
</div>

